[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alibi = "*"
matplotlib = "*"
numpy = "*"
tensorflow = "*"

[dev-packages]
seldon-core = "*"

[requires]
python_version = "3.8"
